.THIS .slds-size_6-of-12, .THIS .slds-size--6-of-12{
    padding-left: 10px;
    padding-top: 10px;
}
.THIS .marginTop {
        margin-top: 25px;
}

.THIS .slds-modal__content{
    padding: 0px !important;
}
.THIS .cuf-content{
    padding: 0px !important;
}